<?xml version='1.0' encoding='utf-8'?>
<plugin id="by.pstlabs.push" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0">
    <name>push</name>

    <repo>https://github.com/ddvoron/push.git</repo>

    <engines>
        <engine name="cordova" version=">=3.0.0"/>
    </engines>

    <js-module name="push" src="www/push.js">
        <clobbers target="push"/>
    </js-module>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="push">
                <param name="android-package" value="by.pstlabs.push.push"/>
            </feature>
        </config-file>
        <source-file src="src/android/push.java" target-dir="src/by/pstlabs/push/push"/>
    </platform>
</plugin>
